In [19]:
import requests
import json

In [20]:
username = "yassine@tickettakedown.com"
password = "humjEPhmkRh642Pe"
url = "https://api.openpeoplesearch.com/api/v1/User/authenticate"

In [21]:

headers = {
        "accept": "*/*",
        "Content-Type": "application/json"
    }

In [22]:
data = {
        "username": username,
        "password": password
    }

In [23]:
response = requests.post(url, headers=headers, data=json.dumps(data))
token = response.json()["token"]
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjY4ODYiLCJyb2xlIjoidXNlciIsIm5iZiI6MTcwNjQ1MjE0MSwiZXhwIjoxNzA3MDU2OTQxLCJpYXQiOjE3MDY0NTIxNDF9.08pEUWcn5jGDxUfN5q-i_ncRicU0ECYCr2x-hXsHyvg'

## search person

In [24]:
url = "https://api.openpeoplesearch.com/api/v1/consumer/NameSearch"

headers = {
        "accept": "text/plain",
        "Authorization": f"Bearer {token}",
        "Content-Type": "application/json"
    }

In [25]:
firstName="Samama"
middleName=""
lastName="Mahmud"
city=None
state=None

In [26]:
data = {
        "firstName": firstName,
        "middleName": middleName,
        "lastName": lastName,
        "city": city,
        "state": state
    }

In [27]:
response = requests.post(url, headers=headers, data=json.dumps(data))

In [28]:
results = response.json()['results']

In [30]:
results

[]

In [31]:
phones = [result.get('phone') for result in results ]
phones

[]

# Leads Analysis

In [32]:
url = "https://api.openpeoplesearch.com/api/v1/consumer/NameSearch"

headers = {
        "accept": "text/plain",
        "Authorization": f"Bearer {token}",
        "Content-Type": "application/json"
    }

In [33]:
#load data into a dataframe
import pandas as pd
df = pd.read_csv('leads_not_found.csv')
df.shape

(107, 34)

In [34]:
df.head()

,id,case_id,first_name,last_name,middle_name,court_code,age,year_of_birth,email,phone,...,notes,violation,court,accidentCheckbox,commercialDriverLicence,ticket_img,user_id,report,details,cloudtalk_upload
0,NaN,DICKERSON__JOHN_E_63_01_02_2024,JOHN,DICKERSON,E,temp,63,1961,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
1,NaN,BIGGS__EUGENE_L_25_01_02_2024,EUGENE,BIGGS,L,temp,25,1999,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
2,NaN,24TR60000100,NATASHA,TAYLOR,C,IL_COOK,47,1977,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
3,NaN,24TR60000091,LORENZO,GERARDO,A,IL_COOK,35,1989,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
4,NaN,24TR50000090,JENNIFER,HENKE,L,IL_COOK,42,1982,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [35]:
def preson_search(firstName, lastName, middleName):
    url = "https://api.openpeoplesearch.com/api/v1/consumer/NameSearch"

    headers = {
            "accept": "text/plain",
            "Authorization": f"Bearer {token}",
            "Content-Type": "application/json"
        }
    data = {
        "firstName": firstName,
        "middleName": middleName,
        "lastName": lastName,
        "city": None,
        "state": None
    }
    response = requests.post(url, headers=headers, data=json.dumps(data))
    results = response.json()['results']
    phones = [result.get('phone') for result in results ]
    
    return phones

In [36]:
df

,id,case_id,first_name,last_name,middle_name,court_code,age,year_of_birth,email,phone,...,notes,violation,court,accidentCheckbox,commercialDriverLicence,ticket_img,user_id,report,details,cloudtalk_upload
0,NaN,DICKERSON__JOHN_E_63_01_02_2024,JOHN,DICKERSON,E,temp,63,1961,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
1,NaN,BIGGS__EUGENE_L_25_01_02_2024,EUGENE,BIGGS,L,temp,25,1999,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
2,NaN,24TR60000100,NATASHA,TAYLOR,C,IL_COOK,47,1977,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
3,NaN,24TR60000091,LORENZO,GERARDO,A,IL_COOK,35,1989,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
4,NaN,24TR50000090,JENNIFER,HENKE,L,IL_COOK,42,1982,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,NaN,230257248,NATHAN,GLODECK,STANLEY,CT21,18,2005,NaN,NaN,...,NaN,NaN,NaN,False,False,230257248.png,NaN,NaN,NaN,False
103,NaN,220460163,AMORION,OLIPHANT,JAVON,CT21,19,2004,NaN,NaN,...,NaN,NaN,NaN,False,False,220460163.png,NaN,NaN,NaN,False
104,NaN,180458951,BARBARA,WILSON,V,CT21,43,1980,NaN,NaN,...,NaN,NaN,NaN,False,False,180458951.png,NaN,NaN,NaN,False
105,NaN,GREER__LAMAR_L_28_01_01_2024,LAMAR,GREER,L,temp,28,1996,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
106,NaN,24TR10000001,FRANKLIN,MAYANCELA GUAMAN,MESIAS,IL_COOK,23,2001,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [37]:
df['middle_name'] = df['middle_name'].fillna('')
df['first_name'] = df['first_name'].fillna('')
df['last_name'] = df['last_name'].fillna('')
df

,id,case_id,first_name,last_name,middle_name,court_code,age,year_of_birth,email,phone,...,notes,violation,court,accidentCheckbox,commercialDriverLicence,ticket_img,user_id,report,details,cloudtalk_upload
0,NaN,DICKERSON__JOHN_E_63_01_02_2024,JOHN,DICKERSON,E,temp,63,1961,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
1,NaN,BIGGS__EUGENE_L_25_01_02_2024,EUGENE,BIGGS,L,temp,25,1999,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
2,NaN,24TR60000100,NATASHA,TAYLOR,C,IL_COOK,47,1977,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
3,NaN,24TR60000091,LORENZO,GERARDO,A,IL_COOK,35,1989,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
4,NaN,24TR50000090,JENNIFER,HENKE,L,IL_COOK,42,1982,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,NaN,230257248,NATHAN,GLODECK,STANLEY,CT21,18,2005,NaN,NaN,...,NaN,NaN,NaN,False,False,230257248.png,NaN,NaN,NaN,False
103,NaN,220460163,AMORION,OLIPHANT,JAVON,CT21,19,2004,NaN,NaN,...,NaN,NaN,NaN,False,False,220460163.png,NaN,NaN,NaN,False
104,NaN,180458951,BARBARA,WILSON,V,CT21,43,1980,NaN,NaN,...,NaN,NaN,NaN,False,False,180458951.png,NaN,NaN,NaN,False
105,NaN,GREER__LAMAR_L_28_01_01_2024,LAMAR,GREER,L,temp,28,1996,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
106,NaN,24TR10000001,FRANKLIN,MAYANCELA GUAMAN,MESIAS,IL_COOK,23,2001,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [38]:
df['phone_numbers_openpeoplesearch'] = df.apply(lambda x: preson_search(x['first_name'], x['last_name'], x['middle_name']), axis=1)

In [39]:
df['phone_numbers_openpeoplesearch']

0      []
1      []
2      []
3      []
4      []
       ..
102    []
103    []
104    []
105    []
106    []
Name: phone_numbers_openpeoplesearch, Length: 107, dtype: object

In [40]:
df.to_csv('phone_numbers_openpeoplesearch.csv', index=False)

In [42]:
df['phone_numbers_openpeoplesearch']

0      []
1      []
2      []
3      []
4      []
       ..
102    []
103    []
104    []
105    []
106    []
Name: phone_numbers_openpeoplesearch, Length: 107, dtype: object