In [2]:
import requests
import json

In [3]:
username = "yassine@tickettakedown.com"
password = "humjEPhmkRh642Pe"
url = "https://api.openpeoplesearch.com/api/v1/User/authenticate"

In [4]:

headers = {
        "accept": "*/*",
        "Content-Type": "application/json"
    }

In [5]:
data = {
        "username": username,
        "password": password
    }

In [6]:
response = requests.post(url, headers=headers, data=json.dumps(data))
token = response.json()["token"]
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjY4ODYiLCJyb2xlIjoidXNlciIsIm5iZiI6MTcwNjQwMTgxOCwiZXhwIjoxNzA3MDA2NjE4LCJpYXQiOjE3MDY0MDE4MTh9.uGrgoOeBzLKm5JiQwpwjYIkmCcvZc-H325Yg7OpOd5I'

## search person

In [11]:
url = "https://api.openpeoplesearch.com/api/v1/consumer/NameSearch"

headers = {
        "accept": "text/plain",
        "Authorization": f"Bearer {token}",
        "Content-Type": "application/json"
    }

In [12]:
firstName="Samama"
middleName=""
lastName="Mahmud"
city=None
state=None

In [13]:
data = {
        "firstName": firstName,
        "middleName": middleName,
        "lastName": lastName,
        "city": city,
        "state": state
    }

In [14]:
response = requests.post(url, headers=headers, data=json.dumps(data))

In [20]:
results = response.json()['results']

In [22]:
results[0].get('phone')

''

In [23]:
phones = [result.get('phone') for result in results ]
phones

['', '', '', '']

# Leads Analysis

In [7]:
url = "https://api.openpeoplesearch.com/api/v1/consumer/NameSearch"

headers = {
        "accept": "text/plain",
        "Authorization": f"Bearer {token}",
        "Content-Type": "application/json"
    }

In [8]:
#load data into a dataframe
import pandas as pd
df = pd.read_csv('leads_not_found.csv')
df.shape

/var/folders/c2/zqn3sbnd33j0_q_t7ss20yl40000gq/T/ipykernel_37007/3121428108.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

(1195, 34)

In [9]:
df.head()

,id,case_id,first_name,last_name,middle_name,court_code,age,year_of_birth,email,phone,...,notes,violation,court,accidentCheckbox,commercialDriverLicence,ticket_img,user_id,report,details,cloudtalk_upload
0,NaN,24TR50000404,MICHELLE,JOHNSON,G,IL_COOK,53.0,1971.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
1,NaN,24TR20000420,CAROLYN,PARKER,JO,IL_COOK,60.0,1964.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
2,NaN,24TR20000409,JASON,GUTIERREZ,A,IL_COOK,30.0,1994.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
3,NaN,24TR20000392,BAYARTOGTOKH,OTGONBAATAR,NaN,IL_COOK,54.0,1970.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
4,NaN,24TR10001057,EVERADO,PATINO,NaN,IL_COOK,27.0,1997.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [12]:
def preson_search(firstName, lastName, middleName):
    url = "https://api.openpeoplesearch.com/api/v1/consumer/NameSearch"

    headers = {
            "accept": "text/plain",
            "Authorization": f"Bearer {token}",
            "Content-Type": "application/json"
        }
    data = {
        "firstName": firstName,
        "middleName": middleName,
        "lastName": lastName,
        "city": None,
        "state": None
    }
    response = requests.post(url, headers=headers, data=json.dumps(data))
    results = response.json()['results']
    phones = [result.get('phone') for result in results ]
    
    return phones

In [15]:
df

,id,case_id,first_name,last_name,middle_name,court_code,age,year_of_birth,email,phone,...,notes,violation,court,accidentCheckbox,commercialDriverLicence,ticket_img,user_id,report,details,cloudtalk_upload
0,NaN,24TR50000404,MICHELLE,JOHNSON,G,IL_COOK,53.0,1971.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
1,NaN,24TR20000420,CAROLYN,PARKER,JO,IL_COOK,60.0,1964.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
2,NaN,24TR20000409,JASON,GUTIERREZ,A,IL_COOK,30.0,1994.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
3,NaN,24TR20000392,BAYARTOGTOKH,OTGONBAATAR,NaN,IL_COOK,54.0,1970.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [16]:
df['middle_name'] = df['middle_name'].fillna('')
df['first_name'] = df['first_name'].fillna('')
df['last_name'] = df['last_name'].fillna('')
df

,id,case_id,first_name,last_name,middle_name,court_code,age,year_of_birth,email,phone,...,notes,violation,court,accidentCheckbox,commercialDriverLicence,ticket_img,user_id,report,details,cloudtalk_upload
0,NaN,24TR50000404,MICHELLE,JOHNSON,G,IL_COOK,53.0,1971.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
1,NaN,24TR20000420,CAROLYN,PARKER,JO,IL_COOK,60.0,1964.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
2,NaN,24TR20000409,JASON,GUTIERREZ,A,IL_COOK,30.0,1994.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
3,NaN,24TR20000392,BAYARTOGTOKH,OTGONBAATAR,,IL_COOK,54.0,1970.0,NaN,NaN,...,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [17]:
df['phone_numbers_openpeoplesearch'] = df.apply(lambda x: preson_search(x['first_name'], x['last_name'], x['middle_name']), axis=1)

In [18]:
df['phone_numbers_openpeoplesearch']

0    []
1    []
2    []
3    []
Name: phone_numbers_openpeoplesearch, dtype: object